<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/login.css" />
    </head>
    <body>
        <h1>IT Academy</h1>
        <% if (send) { %>
        <h3>Commencez par vous connecter</h3>
        <% } %>
        <h2>Entrez votre pseudo</h2>
        <form action="/academy/login/save" method="post">
            <input type="text" name="user" />
            <input type="submit" value="Enregistrer" />
            <input type="hidden" name="send" value="<%= send %>">
        </form>
    </body>
</html>